
p{
    font-size: 1.1rem;
    font-weight: 280;
}

#mainNav {
    background-color: rgba(0, 0, 0, 0.65);
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #c9c9c9;
    border: 1px solid #c9c9c9;
}

#mainNav .navbar-toggler:focus {
    outline: none;
    color: white;
}

#mainNav .navbar-toggler:hover {
    outline: none;
    color: white;
}

#mainNav .navbar-brand {
    color: #c9c9c9;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

#mainNav .navbar-brand:hover {
    color: white;
}

#mainNav .nav-link {
    font-size: 12px;
    color: #c9c9c9;
}

#mainNav .nav-link:hover {
    font-size: 12px;
    color: white;
}

#mainNav .navbar-nav .nav-item:hover {
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item {
    padding: 0 2rem;
}


#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (max-width: 1000px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: black;
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: #c9c9c9;
        justify-content: center;
        text-align: center;
    }

    #mainNav .navbar-brand:hover {
        padding: .5rem 0;
        color: white;
    }

    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        font-size: 12px;
        color: #c9c9c9;
    }

    #mainNav .nav-link:hover {
        color: white;
    }

    #mainNav .nav-link:active {
        color: white;
    }

    #mainNav.navbar-shrink {
        background-color: rgba(0, 0, 0, 0.66);
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #c9c9c9;
    }

    #mainNav.navbar-shrink .navbar-brand:hover {
        color: white;
    }

    #mainNav.navbar-shrink .nav-link {
        color: #c9c9c9;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover {
        color: white;
    }

    #mainNav.navbar-shrink .nav-link:active {
        color: white;
    }

    #mainNav.navbar-shrink .nav-link.active {
        color: white;
        outline: none;
    }
}
header h1 {
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    }
@media (max-width: 1400px)  {
    img {
        height: 400px;
        width: 625px;
    }
}

@media (max-width: 1300px)  {
    img {
        height: 300px;
        width: 525px;
    }
    iframe {
        height: 300px;
        width: 525px;
    }

    header h1 {
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    }
}
@media (max-width: 1100px)  {
    img {
        height: 250px;
        width: 425px;
    }
    iframe {
        height: 250px;
        width: 425px;
    }
    header h1 {
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    }
}
@media (max-width: 1000px)  {
        #home {
        min-height: 35rem;
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        text-align: center;
    }

    header h1 {
        font-size: 5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
    }

    header p {
        line-height: 2rem;
        color: white
    }

    #project {
        position: relative;
        padding: 3rem 0;
        background: rgba(242, 242, 242, 0.56);
        justify-content: center;
        text-align: center;
    }
    .test{
        padding: 5rem 0;
    }
    #project h1 {
        font-size: 3.5rem;
        font-weight:bold;
        background: linear-gradient(to right, #4decf7, #f952ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
    #project p {
        text-align: center;
    }

    #project a {
        color:  #0071e3;
        text-decoration: none;
        background-color: transparent;
    }


    #project a:hover {
        text-decoration: underline;
    }
    .urls {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 3rem;
        padding-bottom: 10rem;
        background: white;
    }

    #project h2 {
        font-size: 1.5em;
        padding-top: 1rem;
        font-weight: bold;
    }

    #project .btn {
        background: #0071e3;
        color: white;
        border-radius: 5rem;
        font-size: 0.6rem;
        letter-spacing: 0.1rem;
    }

    #project  .btn:hover {
        background: #0081f3;
        color: white;
    }

    .new-genration{
        background-color: black;
    }

    .demo1{
        background: linear-gradient(to right, #6cf797, #3bb5ff);
        color: white;
        padding: 2rem 0;
    }

    .demo2{
        background: linear-gradient(to right, #3bdeff, #aa3bff);
        color: white;
        padding: 2rem 0;
    }

    #demo a {
        color:  #0071e3;
        text-decoration: none;
        background-color: transparent;
    }

    #demo h1 {
        font-size: 2.5rem;
        font-weight:bold;
        color: white;

    }

    #demo a:hover {
        text-decoration: underline;
    }

    #Scenes {
        padding: 3rem 0;
        background: rgba(242, 242, 242, 0.56);
        justify-content: center;
        text-align: center;
    }

    #Scenes h1 {
        font-size: 1rem;
        font-weight:bold;
        background: linear-gradient(to right, #7f5afa, #fa5a5a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

    #Scenes .test3{
        padding-bottom: 1rem;
        font-weight: bold;
        background-size: cover;
        color: black;
    }

    #Scenes h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    #Information h1 {
        font-size: 2.5rem ;
        font-weight:bold;
        background: linear-gradient(to right, #ff704d, #ffff3d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black;

    }

    img{
        border-radius: 2rem;
    }

    #Information{
        color: black;
        padding: 1rem 0;
    }

    #AboutMe{
        background: gray;
        color: white;
        padding: 2rem 0;
    }

    #AboutMe h1{
        font-size: 5rem;
        font-weight: bold;
    }

    #AboutMe .github{
        font-size: 2rem;
        font-weight: bold;
        color: black;
    }
    #AboutMe .linkedin{
        font-size: 2rem;
        font-weight: bold;
        color: black;
    }
    img{
        border-radius: 2rem;
        width: 350px;
        height: 225px;
    }
    iframe{
        border-radius: 2rem;
        width: 350px;
        height: 225px;
    }

    #AboutMe .github:hover{
        font-size: 2rem;
        font-weight: bold;
        background: linear-gradient(to right, #0d0d0d, #713dff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #AboutMe .linkedin:hover{
        font-size: 2rem;
        font-weight: bold;
        background: linear-gradient(to right, #0095ff, #2200ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#home {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 5rem 0;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
}

header p {
    line-height: 2rem;
    color: white
}

#project {
    position: relative;
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background: rgba(242, 242, 242, 0.56);
    justify-content: center;
    text-align: center;
}
.test{
    padding: 5rem 0;
}
#project h1 {
    font-size: 7rem;
    font-weight:bold;
    background: linear-gradient(to right, #4decf7, #f952ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
#project p {
    text-align: center;
}

#project a {
    color:  #0071e3;
    text-decoration: none;
    background-color: transparent;
}


#project a:hover {
    text-decoration: underline;
}
.urls {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 10rem;
    background: white;
}

#project h2 {
    font-size: 3em;
    padding-top: 1rem;
    font-weight: bold;
}

#project .btn {
    background: #0071e3;
    color: white;
    border-radius: 5rem;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}

#project  .btn:hover {
    background: #0081f3;
    color: white;
}

.new-genration{
    background-color: black;
}

.demo1{
    background: linear-gradient(to right, #6cf797, #3bb5ff);
    color: white;
    padding: 2rem 0;
}

.demo2{
    background: linear-gradient(to right, #3bdeff, #aa3bff);
    color: white;
    padding: 2rem 0;
}

#demo a {
    color:  #0071e3;
    text-decoration: none;
    background-color: transparent;
}

#demo h1 {
    font-size: 5rem;
    font-weight:bold;
    color: white;

}

#demo a:hover {
    text-decoration: underline;
}

#Scenes {
    position: relative;
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background: rgba(242, 242, 242, 0.56);
    justify-content: center;
    text-align: center;
}

#Scenes h1 {
    font-size: 5rem;
    font-weight:bold;
    background: linear-gradient(to right, #7f5afa, #fa5a5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#Scenes .test3{
    padding-bottom: 1rem;
    font-weight: bold;
    background-size: cover;
    color: black;
}
#Scenes h2 {
    font-size: 1rem;
}

#Scenes h2 {
    font-size: 3rem;
    font-weight: bold;
}
#Information{
    color: black;
    padding: 1rem 0;
}

#Information h1 {
    font-size: 4rem ;
    font-weight:bold;
    background: linear-gradient(to right, #ff704d, #ffff3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

#Videos {
    position: relative;
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
}

#Videos h1 {
    font-size: 4rem ;
    font-weight:bold;
    background: linear-gradient(to right, #f700ff, #00b9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

#Videos h2 {
    font-size: 4rem ;
    font-weight:bold;
    background: linear-gradient(to right, rgb(255, 246, 252), #f9fffd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}
img{
    border-radius: 2rem;
}

iframe{
    border-radius: 2rem;
}

#Information{
    color: black;
    padding: 2rem 0;
}

#AboutMe{
    background: gray;
    color: white;
    padding: 2rem 0;
}

#AboutMe h1{
    font-size: 5rem;
    font-weight: bold;
}

#AboutMe .github{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
#AboutMe .linkedin{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
#AboutMe .github:hover{
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, #0d0d0d, #713dff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#AboutMe .linkedin:hover{
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, #0095ff, #2200ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#AboutMe img{
    height: 190px;
    width: 200px;
}